In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
838,tt0881320,30000000,108609310,Sanctum,Ioan Gruffudd|Richard Roxburgh|Alice Parkinson...,Alister Grierson,The only way out is down.,"The 3-D action-thriller Sanctum, from executiv...",108,Action|Thriller,Universal Pictures|Wayfare Entertainment|Sanct...,2/3/2011,5.7,2011
473,tt0872230,25000000,19829957,My Soul to Take,Max Thieriot|John Magaro|Denzel Whitaker|Zena ...,Wes Craven,Only One Has The Power To Save Their Souls,A serial killer returns to his hometown to sta...,107,Drama|Horror|Mystery|Thriller,Relativity Media|Rogue,10/8/2010,5.2,2010
237,tt2528814,17000000,29789000,God's Not Dead,Kevin Sorbo|Shane Harper|David A.R. White|Dean...,Harold Cronk,What do you believe?,College philosophy professor Mr. Radisson's cu...,113,Drama,Pure Flix Entertainment,3/21/2014,6.1,2014
447,tt1219342,80000000,140073390,Legend of the Guardians: The Owls of Ga'Hoole,Emily Barclay|Abbie Cornish|Essie Davis|Joel E...,Zack Snyder,On his way to finding a legend...he will becom...,"Soren, a young barn owl, is kidnapped by owls ...",97,Animation|Adventure|Family|Fantasy,Village Roadshow Pictures|Warner Bros.|Animal ...,7/10/2010,6.5,2010
1435,tt0317219,120000000,461983149,Cars,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,John Lasseter|Joe Ranft,Ahhh... it's got that new movie smell.,"Lightning McQueen, a hotshot rookie race car d...",117,Animation|Adventure|Comedy|Family,Walt Disney Pictures|Pixar Animation Studios,6/8/2006,6.4,2006

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# формирование столбца profit
data['profit'] = data['revenue'] - data['budget']

# формирование столбца month
data['month'] = data['release_date'].str.split('/')
data['month'] = data['month'].apply(lambda date: str(date[0]))

# формирование столбца len_of_title
data['len_of_title'] = data['original_title'].apply(lambda title: len(title))

# формирование столбца number_of_words_in_overview
data['number_of_words_in_overview'] = data['overview'].str.split()
data['number_of_words_in_overview'] = data['number_of_words_in_overview'].apply(lambda overview: len(overview))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()].original_title.iloc[0] + \
    ' (' + data[data['budget'] == data['budget'].max()].imdb_id.iloc[0] + ')'

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)' # "+"

In [9]:
data[data['runtime'] == data['runtime'].max()].original_title.iloc[0] + \
    ' (' + data[data['runtime'] == data['runtime'].max()].imdb_id.iloc[0] + ')'

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # "+"

In [11]:
data[data['runtime'] == data['runtime'].min()].original_title.iloc[0] + \
    ' (' + data[data['runtime'] == data['runtime'].min()].imdb_id.iloc[0] + ')'

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = 110 # "+"

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = 107 # "+"

In [15]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [17]:
answers['6'] = 'Avatar (tt0499549)' # "+"

In [18]:
data[data['profit'] == data['profit'].max()].original_title.iloc[0] + \
    ' (' + data[data['profit'] == data['profit'].max()].imdb_id.iloc[0] + ')'

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)' # "+"

In [20]:
data[data['profit'] == data['profit'].min()].original_title.iloc[0] + \
    ' (' + data[data['profit'] == data['profit'].min()].imdb_id.iloc[0] + ')'

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = 1478 # "+"

In [22]:
data[data['profit'] > 0].profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)' # "+"

In [24]:
movies_2008 = data[data['release_year'] == 2008]
movies_2008[movies_2008['revenue'] == movies_2008['revenue'].max()].original_title.iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)' # "+"

In [26]:
movies_2012_2014 = data[(data.release_year <= 2014)&(data.release_year >= 2012)]

In [27]:
movies_2012_2014[movies_2012_2014.profit == movies_2012_2014.profit.min()].original_title.iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = 'Drama' # "+"

In [29]:
data_11 = data.copy()
# Формируем список жанров фильма вместо "списка" с разделителем |
data_11['genres'] = data_11['genres'].apply(lambda s: s.split('|'))
# Каждому фильму сопоставляем отдельную строчку с уникальным для него жанром
data_11 = data_11.explode('genres')
data_11['genres'].value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama' # "+"

In [31]:
data_12 = data_11.copy() # Забираем уже разделенный датасет по жанрам из предыдущего задания
data_12 = data_12.query('profit>0') # Отфильтровываем прибыльные фильмы

In [32]:
data_12['genres'].value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [33]:
data_12['genres'].describe()

count      3962
unique       18
top       Drama
freq        560
Name: genres, dtype: object

In [34]:
data_12['genres'].describe().iloc[2]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
answers['13'] = 'Peter Jackson' # "+"

In [36]:
data_13 = data.copy()
# Формируем список жанров фильма вместо "списка" с разделителем |
data_13['director'] = data_13['director'].apply(lambda s: s.split('|'))
# Каждому фильму сопоставляем отдельную строчку с уникальным для него жанром
data_13 = data_11.explode('director')


data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez' # "+"

In [38]:
data_14 = data_11.copy() # Забираем уже разделенный датасет по жанрам из 11 задания
data_14 = data_14[data_14['genres'] == 'Action'] # Оставляем только фильмы в стиле Action

# Разделяем строки по режисёрам
data_14 = data_14['director'].apply(lambda s: str(s).split('|'))
data_14 = data_14.explode('director')

data_14.describe()

count                  623
unique                 364
top       Robert Rodriguez
freq                     9
Name: director, dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
answers['15'] = 'Chris Hemsworth' # "+"

In [40]:
data_15 = data.copy()

# Оставляем фильмы, вышедшие только в 2012 году
data_15 = data_15.query('release_year==2012')

# Разделяем датафрейм по строкам так, чтобы в каждой строке был только один актёр
data_15['cast'] = data_15['cast'].str.split('|')
data_15 = data_15.explode('cast')

# Группируем актёров по сумме
data_15.groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
answers['16'] = 'Matt Damon' # "+"

In [42]:
data_16 = data.copy()

# Отфильтровываем высокобюджетные фильмы
data_16 = data_16[data_16['budget'] > data_16['budget'].mean()]

# Разделяем датафрейм по строкам так, чтобы в каждой строке был только один актёр
data_16['cast'] = data_16['cast'].str.split('|')
data_16 = data_16.explode('cast')

# Выясняем какой актёр снимался в таких фильмах чаще всех
data_16['cast'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
answers['17'] = 'Action' # "+"

In [44]:
data_17 = data.copy()

# Разделяем датафрейм по строкам так, чтобы в каждой строке был только один актёр
data_17['cast'] = data_17['cast'].str.split('|')
data_17 = data_17.explode('cast')

# Отфильтровываем только те фильмы, где снимался Nicolas Cage
data_17 = data_17.query('cast=="Nicolas Cage"')

# Разделяем датафрейм по строкам так, чтобы в каждой строке был только один жанр
data_17['genres'] = data_17['genres'].str.split('|')
data_17 = data_17.explode('genres')

data_17.genres.describe()

count         93
unique        15
top       Action
freq          17
Name: genres, dtype: object

In [45]:
data_17.genres.describe().iloc[2]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
answers['18'] = 'K-19: The Widowmaker' # "+"

In [47]:
poramount_pictures_movies = data[data.production_companies.str.contains('Paramount Pictures')]

In [48]:
poramount_pictures_movies[poramount_pictures_movies.profit == poramount_pictures_movies.profit.min()].original_title.iloc[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19'] = 2015 # "+"

In [50]:
data.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
answers['20'] = 2014 # "+"

In [52]:
warner_bros_movies = data[data.production_companies.str.contains('Warner Bros')]
warner_bros_movies.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
answers['21'] = 'Сентябрь' # "+"

In [54]:
data_21 = data.copy()

data_21.month.describe()

count     1889
unique      12
top          9
freq       227
Name: month, dtype: object

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22'] = 450 # "+"

In [56]:
data_22 = data.copy()
data_22[(data_22['month'] == '6')|(data_22['month'] == '7')|(data_22['month'] == '8')].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
answers['23'] = 'Peter Jackson' # "+"

In [58]:
data_23 = data.copy()

# Отфильтровываем датафрейм по зимним месяцам
data_23 = data_23[(data_23['month'] == '12')|(data_23['month'] == '1')|(data_23['month'] == '2')]

# Разделяем строки по режисёрам
data_23['director'] = data_23['director'].apply(lambda s: str(s).split('|'))
data_23 = data_23.explode('director')

# Определяем целевого режисёра
data_23.director.describe()

count               471
unique              358
top       Peter Jackson
freq                  7
Name: director, dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
answers['24'] = 'Warner Bros' # "+"

In [60]:
data_24 = data.copy()

# Разделяем строки по студиям
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')

# Группируем по студиям и суммируем длины названий
data_24.groupby('production_companies')['len_of_title'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
answers['25'] = 'Warner Bros' # "+"

In [62]:
data_25 = data.copy()

# Разделяем строки по студиям
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')

# Группируем по студиям и суммируем количество слов в названии фильмов
data_25.groupby('production_companies')['number_of_words_in_overview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # "+"

In [64]:
data_26 = data.copy()

data_26 = data_26[data_26.vote_average > np.percentile(data['vote_average'], 99)].original_title
data_26

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # "+"

In [66]:
import itertools as it

data_27 = data.copy()

data_27['cast_comb'] = data_27.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data_27.cast_comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [67]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Warner Bros',
 '25': 'Warner Bros',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [68]:
# и убедиться что ничего не пропустил)
len(answers)

27